body{
  background-color: slategray;

}

.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.todolist {
  border: 2px solid burlywood;
  border-radius: 5px;
  padding: 20px;
  background-color: darkseagreen;
  box-shadow: 0 0 20px 0 black;
}
.todolist-empty {
  border: 2px solid burlywood;
  border-radius: 5px;
  padding: 20px;
background-color: coral;
  box-shadow: 0 0 20px 0 black;
}
